body{
    margin: 0px;
}

.site-page{
    display: flex;
    flex-wrap: wrap;
    height: 25px;
    width: 50px;
}

.mobile-container{
    height: 550px;
    width: 300px;
    margin: 0px;
}

.image-page{
    width: 100%;
    height: 300px;
    object-fit: contain;
    display: flex;
    margin: 0px;
}

.rating-page{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    margin: 0px;
}

.image-container{
    display: flex;
    margin: 0px;
}

.title-page{
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.price-page{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.offer-price{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: 0px;
}
.final-price{
    display: flex;
    justify-content: center;
    
}
.unprice{
    text-decoration-line: line-through;
    margin: 0px;
}

.moblieList-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
    margin-top: 20px;
}

.logo{
    height: 50px;
    width: 70px;
}

.pagination{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    
}

.search{
    display: flex;
    height: 25px;
    width: 300px;
}

.search-box{
    display: flex;
    align-items: center;
}

.not-found-img {
    min-width: auto;
    min-height: 90vh;
}

.not-found {
    display: flex;
    flex-wrap: wrap;
}

.not-fount-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15vh;
    font-size: 25px;
}